@media only screen and (min-width:320px) and (max-width:480px){
    
    }

@media only screen and (min-width:480px){
    
    body{
        background-color: lightslategrey;
    }

    #container{
    width: 600px;
    border: 1px solid black; 
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
    }

    /*Aside section*/
    aside{
        background-color: #203572;
        float: left;
        padding-left: 1em;
        padding-right: 1em;
    }

    #name {
        text-align:center;
        font-size: 16px;
        font-family: "Open Sans";
        font-weight: bolder;
        color: #3fc7df;
        margin-top: 1.2em;
        margin-bottom: .1em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    #imgContainer {
        max-width: 7em;
        display:block;
        margin:auto;   
    }

    .titleAside{
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: bolder;
        color: #3fc7df;
    }

    .subtitleAside{
        font-size: 10.5px;
        font-family: "Open Sans";
        font-weight: bolder;
        color: #3fc7df;
    }

    p{
        font-size: 10.5px;
        font-family: "Open Sans";
        color: white;
    }

    #leftIcons {
        display:inline-block;
    }

    #phoneContainer {
        max-width: 1.5em;
        margin: .2em;
    }
    #emailContainer {
        max-width: 1.5em;
        margin: .2em;
    }
    #inContainer {
        max-width: 1.5em;
        margin: .2em;
    }
    #homeContainer {
        max-width: 1.5em;
        margin: .2em;
    }

    #rightContact {
        display:inline-block
    }

    #leftContainer{
        display: inline-block;
    }
    #rightContainer{
        display: inline-block;
    }

    /*Main Section*/
    section{
        background-color: white;
        float: left;
    }

    .sectionTitle{
        background-color:  #203572;
        margin: 1em;
        padding: .3em;
        font-size: 14.7px;
        color: #3fc7df;
        font-family: "Open Sans";
        font-weight: bolder;
    }

    .subtitle{
        margin-left: 1.5em;
        font-size: 13.6px;
        font-family: "Open Sans";
        font-weight: bolder;
        color: #3fc7df;
    }

    .date{
        margin-left: 1.5em;
        font-size: 10px;
        font-family: "Open Sans";
        color: black;
    }

    .description{
        margin-left: 1.5em;
        font-size: 10.5px;
        font-family: "Open Sans";
        color: black;
    }

    }